// Import Bulma's core
@import '~bulma/sass/utilities/_all';

// // Import a Google Font
// @import url('https://fonts.googleapis.com/css?family=Cabin');
// $family-primary: 'Cabin';

// Set colors
$primary: #653ccb;
$primary-invert: findColorInvert($primary);
// $info: rgb(110, 207, 219);
// $info-invert: findColorInvert($info);
// $success: rgb(133, 231, 166);
// $success-invert: findColorInvert($success);
// $danger: rgb(172, 13, 74);
// $danger-invert: findColorInvert($danger);
// $warning: rgb(214, 228, 19);
// $warning-invert: findColorInvert($warning);
$twitter: #4099ff;
$twitter-invert: findColorInvert($twitter);
$beige-lighter: #eff0eb;

$body-background-color: $light;

// Setup $colors to use as bulma classes (e.g. 'is-twitter')
$colors: (
  'white': (
    $white,
    $black
  ),
  'black': (
    $black,
    $white
  ),
  'light': (
    $light,
    $light-invert
  ),
  'dark': (
    $dark,
    $dark-invert
  ),
  'primary': (
    $primary,
    $primary-invert
  ),
  'info': (
    $info,
    $info-invert
  ),
  'success': (
    $success,
    $success-invert
  ),
  'warning': (
    $warning,
    $warning-invert
  ),
  'danger': (
    $danger,
    $danger-invert
  ),
  'twitter': (
    $twitter,
    $twitter-invert
  )
);

// Links
$link: $primary;
$link-invert: $primary-invert;
$link-focus-border: $primary;

// $box-shadow: 0px 10px 40px rgba(56, 56, 56, 0.281);
// $box-radius: 0px;
// $control-radius: 0px; // Buttons

// Import Bulma and Buefy styles
@import '~bulma';
@import '~buefy/src/scss/buefy';
